<View>
  <Header value="Sample ID: $sample_id"/>

  <Image
    name="image"
    value="$image"
    zoom="true"
    zoomControl="true"
    brightnessControl="true"
  />

  <!-- OUTPUT: Masks SAM2 -->
  <Header value="Brush Labels"/>
  <BrushLabels name="mask" toName="image" smart="true" smartOnly="true">
    <Label value="rotor" background="#5B9BFF"/>
    <Label value="stator" background="#E8596A"/>
    <Label value="shaft" background="#7ED321"/>
  </BrushLabels>

  <!-- INPUT: Prompt points SAM2-->
  <Header value="KeyPoint Labels"/>
  <KeyPointLabels name="sam_points" toName="image" smart="true">
    <Label value="rotor" background="#5B9BFF" showInline="true" hotkey="1"/>
    <Label value="stator" background="#E8596A" showInline="true" hotkey="2"/>
    <Label value="shaft" background="#7ED321" showInline="true" hotkey="3"/>
  </KeyPointLabels>

  <!-- INPUT: JSONL bbox pre-annotations -->
  <Header value="Rectangle Labels"/>
  <RectangleLabels name="label" toName="image" smart="true" showInline="true">
    <Label value="rotor" background="#5B9BFF" showInline="true"/>
    <Label value="stator" background="#E8596A" showInline="true"/>
    <Label value="shaft" background="#7ED321" showInline="true"/>
  </RectangleLabels>

</View>